body {
  background-color: #d2e0c5;
  padding: 100px;
  color: #355465;
  background-image: url(beige001.jpg);

}

a {
    color: #612c2c;
    text-decoration: none;
  }

a:hover { color: #b23c3c;}

h2{
  text-transform: uppercase;
  font-size: 16px;
}

#location-header {
  border-top: 2px solid #b9afaf;
  margin-top: 40px;
  padding-top: 20px;
}

.price {
  color: #901b2e;
}

#name{
  color: #132;
}
#name.price {
  color: #008490;
}
---------------------------new------------
body{
  font-family: Georgia, serif;
	font-size:17px;
	line-height:27px;
	width:700px;
	margin:0px auto;
}

ul{
  list-style: none;
  padding-left: 0px;
}

ul li {
  margin-bottom: 25px;
}

img{max-width: 100%;}

.ornament{color: #901b2e;}

.with{
  font-style: italic;
  font-size: 15px;
  color: #A5A1A1;
  display: block;
}
