body {
  background-color: #d2e0c5;
  padding: 100px;
  color: #355465;
  background-image: url(beige001.jpg);

}

a {
    color: #612c2c;
    text-decoration: none;
  }

a:hover { color: #b23c3c;}

h2{
  text-transform: uppercase;
  font-size: 16px;
}

#location-header {
  border-top: 2px solid #b9afaf;
  margin-top: 40px;
  padding-top: 20px;
}

.price {
  color: #901b2e;
}

#name{
  color: #132;
}
#name.price {
  color: #008490;
}
---------------------------new------------
body{
  font-family: Georgia, serif;
	font-size:17px;
	line-height:27px;
	width:700px;
	margin:0px auto;
}

ul{
  list-style: none;
  padding-left: 0px;
}

ul li {
  margin-bottom: 25px;
}

img{max-width: 100%;}

.ornament{color: #901b2e;}

.with{
  font-style: italic;
  font-size: 15px;
  color: #A5A1A1;
  display: block;
}

ul{
  text-align: center;
  line-height: 22px;
  margin-bottom: 40px;
  margin-top: 30px;
}

#location {
  text-align: center;
  line-height: 15px;
}

h2{
  text-align: center;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: none;
  font-style: italic;
  font-size: 22px;
  color: #000;
  border-bottom: 4px double #a7b5bc;
  padding-bottom: 15px;
  margin-top: 20px;
}

h3{
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #000;
  border-bottom: 4px double #a7b5bc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h4{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-top: 25px;
  margin-bottom: 0px;
}
