body {
  background-color: #d2e0c5;
  padding: 100px;
  color: #355465;
  background-image: url(beige001.jpg);
  font-family: Georgia, serif;
	font-size:17px;
	line-height:27px;
	width:700px;
	margin:0px auto;
}

a {
    color: #612c2c;
    text-decoration: none;
  }

a:hover { color: #b23c3c;}

h2{
  text-transform: uppercase;
  font-size: 16px;
}

#location-header {
  border-top: 2px solid #b9afaf;
  margin-top: 40px;
  padding-top: 20px;
}

.price {
  color: #901b2e;
}

#name{
  color: #132;
}
#name.price {
  color: #008490;
}
